@using ELibrary.Common
@using ELibrary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
        <ul class="dropdown">
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                </li>
            }
            @if (this.User.IsInRole(GlobalConstants.UserRoleName))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="User" asp-controller="AddBook" asp-action="AddBook" title="AddBook">Add new book</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="AllAddedBooks" asp-action="AddedBooks" title="AddedBooks">All added books</a>
                </li>               
            }
        </ul>

    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="User" asp-controller="AddBook" asp-action="AddBook" title="AddBook">Add new book</a>
    </li>
   


    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>

    </li>


}
else //if ((this.User.IsInRole(GlobalConstants.UserRoleName) == false)||(this.User.IsInRole(GlobalConstants.UserRoleName)==false))
{
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
</li>
}

