@using ELibrary.Common
@using ELibrary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (this.SignInManager.IsSignedIn(this.User))
{
    
        var messages = ViewData["MessageNavBar"] as ELibrary.Web.ViewModels.CommonResurces.NotificationsNavBarViewModel;

    

    <li>
        <a asp-area="CommonResources" asp-controller="Notification" asp-action="Index">
            <div class="row align-items-center">
                <div class="col-4">
                    <input type="image" src="~/img/bg-img/Notification.png" name="name" style="width:35px; height:35px;" value="" />

                </div>

                @if (messages.CountNotification < 99)
                {
                    <div class="col-4">
                        @messages.CountNotification

                    </div>
                }
                else
                {
                    <div class="col-4">
                        +99

                    </div>
                }
            </div>
        </a>
    </li>
    <li class="nav-item">

        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @(this.User.Identity.Name)!</a>
        <ul class="dropdown">
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="AddGenre" asp-action="Index" title="Admin">Добавяне на жанр</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="AllAddedGenres" asp-action="Index">Всички жанрове</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="UserRoles" asp-action="Index">Всички потребители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="AdminStatist" asp-action="Index">Статистики</a>
                </li>

            }
            else if (this.User.IsInRole(GlobalConstants.LibraryRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Library" asp-controller="AllAddedBooks" asp-action="AddedBooks" title="AddedBooks">Всички добавени книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Library" asp-controller="GiveBook" asp-action="GiveBook" title="GiveBook">Дай книга</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Library" asp-controller="GivenBooks" asp-action="GivenBooks" title="GivenBooks">Дадени книги</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Library" asp-controller="StatsLibrary" asp-action="Index" title="StatsUser">Статистики</a>
                </li>
            }
            else if (this.User.IsInRole(GlobalConstants.UserRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="TakenBooks" asp-action="TakenBooks" title="TakenBooks">Взети книги</a>
                </li>

            }
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="CommonResources" asp-controller="Profile" asp-action="Index">Профил</a>
            </li>
        </ul>

    </li>

    if (this.User.IsInRole(GlobalConstants.LibraryRoleName))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Library" asp-controller="AddBook" asp-action="AddBook" title="AddBook">+Добавяни нова книга</a>
        </li>
    }




    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
            <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
        </form>

    </li>


}
else //if ((this.User.IsInRole(GlobalConstants.UserRoleName) == false)||(this.User.IsInRole(GlobalConstants.UserRoleName)==false))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрирай се</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}

