@using ELibrary.Common
@using ELibrary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @(this.User.Identity.Name)!</a>
        <ul class="dropdown">
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="AddGenre" asp-action="Index" title="Admin">Добавяне на жанр</a>
                </li>
            }
            @if (this.User.IsInRole(GlobalConstants.UserRoleName))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="User" asp-controller="AddBook" asp-action="AddBook" title="AddBook">Добави книга</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="AllAddedBooks" asp-action="AddedBooks" title="AddedBooks">Всички добавени книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="GiveBook" asp-action="GiveBook" title="GiveBook">Дай книга</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="GivenBooks" asp-action="GivenBooks" title="GivenBooks">Дадени книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="TakenBooks" asp-action="TakenBooks" title="TakenBooks">Взети книги</a>
                </li>
            }
        </ul>

    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="User" asp-controller="AddBook" asp-action="AddBook" title="AddBook">+Добавяни нова книга</a>
    </li>
   


    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
            <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
        </form>

    </li>


}
else //if ((this.User.IsInRole(GlobalConstants.UserRoleName) == false)||(this.User.IsInRole(GlobalConstants.UserRoleName)==false))
{
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрирай се</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
</li>
}

