@using ELibrary.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<!-- работещ-->

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" 
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<!-- ****** About Us Area Start ******* -->
<section class="dento-about-us-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Us Thumbnail -->
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail mb-50">
                    <img src="~/img/bg-img/burucration.jpg" alt="">
                </div>
            </div>
            <!-- About Content -->
            <div class="col-12 col-md-6">
                <div class="about-us-content mb-50">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Мисия</h2>
                        <div class="line"></div>
                    </div>
                    <p>
                        Библиотеките могат да се възползват от съвреммените техномогии
                        като подобрява работата си чрез автоматизация на бюрократични
                        и административни процеси свързани с проследяването на взета,
                        дадена или върната книга. Чрез използването на платформата,
                        библиотеките могат за пренебрегнат хартиените картони.
                        С тази малка стъпка, те ще помогнат в борбата срещу
                        обезлесявенето на гори и горски площи.
                    </p>

                    <!-- Single Skills Area -->
                    <div class="single-skills-area mt-30">
                        <h6>Намаляване на бюрокрацията</h6>
                        <div id="bar1" class="barfiller">
                            <span class="tip"></span>
                            <span class="fill" data-percentage="80"></span>
                        </div>
                    </div>

                    <!-- Single Skills Area -->
                    <div class="single-skills-area mt-30">
                        <h6>Модернизация</h6>
                        <div id="bar2" class="barfiller">
                            <span class="tip"></span>
                            <span class="fill" data-percentage="95"></span>
                        </div>
                    </div>

                    <!-- Single Skills Area -->
                    <div class="single-skills-area mt-30">
                        <h6>Увеличаване на читателите</h6>
                        <div id="bar3" class="barfiller">
                            <span class="tip"></span>
                            <span class="fill" data-percentage="50"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** About Us Area End ****** -->

<div class="container">
    <div class="dento-border clearfix"></div>
</div>


