@model ELibrary.Web.ViewModels.Library.AddBookViewModel

@{
    ViewData["Title"] = "Редактиране на книга";
}
    <form asp-action="EditBook" asp-area="User" asp-controller="AllAddedBooks" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                @if (ViewData["message"] != null)
                {
                    <div class="alert alert-info" role="alert">

                        @ViewData["message"]
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Logo" class="control-label">Корица</label>
                    <input asp-for="Logo" class="form-control" accept="image/*" />
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="CatalogNumber" class="control-label">Каталожен номер</label>
                    <input asp-for="CatalogNumber" class="form-control" />
                    <span asp-validation-for="CatalogNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Заглавие</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="Author" class="control-label">Автор</label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="GenreId" class="control-label">Жанр</label>
                    <select asp-for="GenreId" class="form-control">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="Review" class="control-label">Кратко описание</label>
                    <textarea asp-for="Review" class="form-control" rows="10" cols="100">
    
                </textarea>
                    <span asp-validation-for="Review" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
            </div>
            <input type="submit" value="Редактирай" class="btn btn-primary col-md-2" />

        </div>

    </form>


<script>
    function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
    }
</script>

